/*/*/*.html
/*/*/*.yml
/*/*/*.yaml

/.idea/VirtualEnvironment/lib/python3.9/site-packages/*
/.idea/VirtualEnvironment/bin/chardetect
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex