/*/*/*.html
/*/*/*.yml
/*/*/*.yaml

../*/*.yaml
../*/*/*.yaml

/.idea/VirtualEnvironment/lib/python3.9/site-packages/*
/.idea/VirtualEnvironment/bin/chardetect
/.idea/frameworkLessonHistory/storage.storageData
/.idea/frameworkLessonHistory/storage.storageRecordIndex
/Topics/Bytes basics (1)/Chr() application/task.html
/Topics/Bytes basics (1)/Ord() application/task.html
/Topics/Bytes basics (1)/Printable/task.html
/Topics/Bytes basics (1)/Theory/task.html
/Topics/Bytes basics (1)/Chr() application/task-info.yaml
/Topics/Bytes basics (1)/Ord() application/task-info.yaml
/Topics/Bytes basics (1)/Printable/task-info.yaml
/Topics/Bytes basics (1)/Theory/task-info.yaml
/Topics/Bytes basics (1)/Chr() application/task-remote-info.yaml
/Topics/Bytes basics (1)/Ord() application/task-remote-info.yaml
/Topics/Bytes basics (1)/Printable/task-remote-info.yaml
/Topics/Bytes basics (1)/Theory/task-remote-info.yaml
